<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annulation d'événement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #4CAF50;
        }
        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .team {
            font-style: italic;
            color: #888;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Annulation d'événement</h1>
        <p>Bonjour {{ p.prenomParticipant }},</p>
        <p>Nous sommes désolés de vous informer que l'événement <strong>{{ event.nomEvent }}</strong> qui était prévu pour le <strong> {{ event.start|date('Y-m-d') }} </strong> à  <strong>{{ event.lieuxEvent }} </strong> a été annulé. Nous comprenons que cela peut être décevant, mais nous apprécions votre compréhension et votre soutien.</p>
        <p>Cordialement,</p>
        <p class="team">L'équipe TheTreeWell</p>
    </div>
</body>
</html>
