

<style>
    fieldset {
        border: none !important;
    }
    body{
        background-color: antiquewhite;
    }
</style>

{% block body %}
<br/>
    <center><h1>Ajouter déchet</h1> </center>
  <br/>  {{form(f)}}
{% endblock %}



